@media (max-width: 380px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .navbar {
        margin: 10px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        width: 100%;
        text-align: center;
        margin: 5px 0;
        align-items: flex-start;
    }

    .hero {
        height: auto;
        padding: 20px;
        flex-direction: column;
    }

    .team-members {
        flex-direction: column;
        align-items: center;
    }

    .member {
        width: 100%;
        margin: 10px 0;
    }

    .member img {
        max-width: 100%;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 100%;
        margin: 10px 0;
    }

    .projects-gallery {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 100%;
        margin: 10px 0;
    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .left, .right {
        width: 100%;
        margin: 10px 0;
    }

    .footer {
        padding: 10px;
        font-size: 14px;
    }
}
